.filtr
	select
		width: 111%
		padding: 5px 35px 5px 35px
		font-size: 21px
		height: $gap*1.5
		-webkit-appearance: none
		-moz-appearance: none
		appearance: none
		margin-left: auto
		background: url(https://icon-library.com/images/dropdown-icon-png/dropdown-icon-png-22.jpg) 96% / 15% no-repeat $bgcolor
		border: 3px dashed $bcolor
		border-radius: $border-radius