// Tabulka aktuálně **************
.table
	width: 100%
	margin-bottom: $gap
	.trow
		display: flex
		flex-wrap: wrap
		width: 100%
		height: $gap
		border-bottom: 1px dashed $pcolor
		align-items: center
		.tname
			min-width: 25%
		.tdate
			width: 10%
			text-align: right
		.thour
			width: 16%
			padding-left: $gap/2
		
		.tplace
			text-align: left
			width: 25%
			padding-left: $gap/2
		.tcity
			text-align: left
			width: 13%
			padding-left: $gap/2
		.tkup
			width: 10%
			text-align: right
			margin-left: auto