@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@keyframes example {
  0% {
    font-style: normal;
  }
  100% {
    font-style: italic;
  }
}
.modal {
  display: block;
  width: 1200px;
  max-width: 80%;
  height: 800px;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
}
.modal .close-button {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 20px;
  border: 0;
  border-radius: 20px;
  background: white;
  padding: 5px 10px;
  font-size: 1.3rem;
  cursor: pointer;
}

.closed {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
}

.modal-guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  margin: 10px 0 10px 30px;
}

li, p {
  margin: 0 0 10px 0;
}

h1 {
  margin: 0 0 20px 0;
}

.open-button {
  border: 0;
  background: #240E39;
  color: white;
  padding: 25px 25px;
  border-radius: 20px;
  font-size: 21px;
  cursor: pointer;
}
.open-button:hover {
  background: #3e1862;
}

.table {
  width: 100%;
  margin-bottom: 3rem;
}
.table .trow {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px dashed;
}
.table .trow .tname {
  min-width: 25%;
}
.table .trow .tdate {
  width: 120px;
  text-align: right;
}
.table .trow .thour {
  width: 200px;
  padding: 0 1.5rem;
}
.table .trow .tplace {
  margin-left: auto;
  text-align: right;
}

form {
  font-family: Arial;
  text-align: left;
}

input[type=text], input[type=submit] {
  width: 20%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #240E39;
  border-radius: 20px;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}

.pb-gap {
  padding-bottom: 3rem;
}

a:hover {
  font-style: normal;
  text-decoration: underline;
}

.linkh, a {
  text-decoration: none;
  color: #240E39;
}
.linkh:hover, a:hover {
  color: #31134d;
  font-style: italic;
}

svg {
  fill: #2B1143;
}
svg path {
  fill: #2B1143;
}
svg rect {
  fill: #fbfbf1;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

h1 {
  font-size: 10vw;
  line-height: 0.8;
  margin: 0;
}

h5 {
  margin: 0;
}

ul li {
  list-style: none;
}

.w-75 {
  max-width: 75%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.underline {
  text-decoration: underline;
}

.headergap {
  padding-top: 6rem;
}

.headergap2 {
  padding-top: 12rem;
}

.py-gap {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pt-gap {
  padding-top: 3rem;
}

.mb-gap {
  margin-bottom: 3rem;
}

.text-right {
  text-align: right;
}

.d-inline {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.small {
  font-weight: 200;
  font-size: 14px;
}

.pointer {
  position: absolute;
  height: auto;
  top: 100px;
  width: 140px;
  left: 50%;
  pointer-events: none;
  display: none;
}

.pointer img {
  width: 50vw;
}

.img-fluid {
  width: 100%;
  height: auto;
  aspect-ratio: attr(width)/attr(height);
  z-index: -1;
  position: relative;
}

.headerimg {
  width: 70%;
}

.bg-color {
  background-color: #F9F8E7;
}

.zrnko {
  width: 3rem;
  height: 3rem;
  margin: 3rem 1.5rem 0 0;
  transform: rotate(20deg);
}
.zrnko:nth-child(2) {
  transform: rotate(45deg);
}
.zrnko:nth-child(3) {
  transform: rotate(99deg);
}
.zrnko:hover {
  transform: rotate(-40deg);
}

.mt-0 {
  margin-top: 0;
}

.filtr select {
  width: 111%;
  padding: 5px 35px 5px 35px;
  font-size: 21px;
  height: 4.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: auto;
  background: url(https://icon-library.com/images/dropdown-icon-png/dropdown-icon-png-22.jpg) 96%/15% no-repeat #F9F8E7;
  border: 3px dashed #240E39;
  border-radius: 20px;
}

@font-face {
  font-family: "Anivers_Regular";
  src: url("https://tikvik.github.io/ostruzina/FONTS/Anivers_Regular.otf");
  unicode-range: U+0000-07FF;
  font-display: block;
}
@font-face {
  font-family: "Anivers_Regular";
  src: url("fonts/Anivers_Regular.otf");
  unicode-range: U+0000-07FF;
  font-display: block;
}
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 2vw;
  font-weight: 800;
  color: #240E39;
  background-color: #F9F8E7;
  font-family: Anivers_Regular;
}

.wrap {
  display: grid;
  grid-template-columns: 3rem 250px auto 250px 3rem;
  grid-template-rows: 1.5rem 150px 1fr 50px;
  grid-template-areas: ". . info . ." ". topleft topcenter topright ." ". leftsidebar content . ." ". bottomleft bottomcenter bottomright .";
  grid-gap: 0px;
  height: 100vh;
}
.wrap .logo {
  grid-area: topleft;
  position: relative;
}
.wrap .logo img {
  width: 100%;
  height: auto;
}
.wrap .info {
  grid-area: topcenter;
  text-align: center;
  position: relative;
  font-size: 28px;
  text-transform: uppercase;
}
.wrap .filtr {
  grid-area: topright;
  justify-self: start;
  z-index: 1;
}
.wrap .cancelfilter {
  grid-area: bottomleft;
}
.wrap .lang {
  grid-area: bottomright;
  text-align: right;
}
.wrap .content {
  grid-column: 1/6;
  grid-row: 1/6;
  overflow: auto;
  text-align: center;
}
.wrap .content h1 {
  font-size: 15vw;
  line-height: 0.9;
  margin: 0;
  text-transform: uppercase;
}
.wrap .content h1:nth-child(1) {
  padding-top: 12rem;
  cursor: url(images/logo.svg), auto;
}
.wrap .content h1:nth-child(2) {
  cursor: url(images/logo.svg), auto;
}
.wrap .content h1:nth-child(3) {
  cursor: url(images/logo.svg), auto;
}
.wrap .pageheader {
  grid-column: 3/5;
  grid-row: 2/3;
  text-align: right;
}
.wrap .pagecontent {
  grid-column: 3/5;
  grid-row: 2/5;
  overflow: auto;
}
.wrap .pagecontent .innercontent {
  width: 90%;
  border-left: 2px solid #240E39;
  margin-left: auto;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
}
.wrap .pagecontent .innercontent a {
  text-decoration: underline;
}
.wrap .pageleftsidebar {
  grid-area: leftsidebar;
  position: relative;
  align-self: end;
}

.trow {
  font-size: 20px !important;
}

/*# sourceMappingURL=style.css.map */
