@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@keyframes example {
  0% {
    font-style: normal;
  }
  100% {
    font-style: italic;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  margin: 10px 0 10px 30px;
}

li, p {
  margin: 0 0 10px 0;
}

h1 {
  margin: 0 0 20px 0;
}

.pb-gap {
  padding-bottom: 3rem;
}

a {
  text-decoration: none;
  color: #290F42;
}
a:hover {
  font-style: italic;
}

svg {
  fill: #2B1143;
}
svg path {
  fill: #2B1143;
}
svg rect {
  fill: #fbfbf1;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

h1 {
  font-size: 10vw;
  line-height: 0.8;
  margin: 0;
}

h5 {
  margin: 0;
}

ul li {
  list-style: none;
}

b {
  font-family: Anivers_Bold;
}

.w-75 {
  max-width: 75%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.underline {
  text-decoration: underline;
}

.headergap {
  padding-top: 6rem;
}

.headergap2 {
  padding-top: 12rem;
}

.py-gap {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pt-gap {
  padding-top: 3rem;
}

.pt-gap-s {
  padding-top: 1.5rem;
}

.p-gap {
  margin: 0.75rem;
}

.mt-gap {
  padding-top: 3rem;
}

.mb-gap {
  margin-bottom: 3rem;
}

.text-right {
  text-align: right;
}

.d-inline {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.small {
  font-weight: 200;
  font-size: 14px;
}

.text-center {
  text-align: center;
}

.pointer {
  position: absolute;
  height: auto;
  top: 100px;
  width: 140px;
  left: 50%;
  pointer-events: none;
  display: none;
}

.pointer img {
  width: 50vw;
}

.img-fluid {
  width: 100%;
  height: auto;
  aspect-ratio: attr(width)/attr(height);
  z-index: -1;
  position: relative;
}

.headerimg {
  width: 100%;
}
@media (min-width: 600px) {
  .headerimg {
    width: 70%;
  }
}

.bg-color {
  background-color: #F9F8E7;
}

.mt-0 {
  margin-top: 0;
}

.filtr select {
  width: 100%;
  padding: 5px 25px 5px 25px;
  font-size: 21px;
  height: 4.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: auto;
  background: url(https://icon-library.com/images/dropdown-icon-png/dropdown-icon-png-22.jpg) 96%/15% no-repeat #F9F8E7;
  border: 0.3rem dashed #290F42;
  border-radius: 20px;
}

.table {
  width: 100%;
  margin-bottom: 3rem;
}
.table .trow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  min-height: 3rem;
  border-bottom: 1px dashed #290F42;
  align-items: start;
  font-size: 12pt;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem !important;
}
@media (min-width: 600px) {
  .table .trow {
    font-size: 20px;
  }
}
.table .trow .tname {
  margin-right: 0.75rem;
  flex-grow: 1;
  width: 10rem;
}
.table .trow .tdate_thour {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 600px) {
  .table .trow .tdate_thour {
    width: 15rem;
  }
}
.table .trow .tdate_thour .tdate {
  text-align: left;
  width: 7rem;
}
@media (min-width: 600px) {
  .table .trow .tdate_thour .tdate {
    text-align: right;
  }
}
.table .trow .tdate_thour .thour {
  padding-left: 0.75rem;
}
.table .trow .tplace_tcity {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: end;
  width: 20rem;
}
.table .trow .tplace_tcity .tcity {
  margin-left: auto !important;
}
.table .trow .tkup {
  min-width: 8%;
  text-align: right;
  margin-left: auto;
  padding-left: 0.75rem;
  font-family: Anivers_Bold;
}

.table > .trow > div {
  padding: 0 0.2rem;
}

.post .table {
  padding-top: 0.375rem;
  padding-bottom: 3rem;
  position: relative;
  background-color: #F9F8E7;
  z-index: 5000;
  margin-bottom: 0;
}
@media (min-width: 600px) {
  .post .table {
    background-color: transparent;
    padding-top: 1.5rem;
  }
}
.post .table .trow {
  border-top: 1px dashed #290F42;
}
.post .table .tname {
  width: 20rem;
}

.open-button {
  border: 0;
  background: #290F42;
  color: white;
  padding: 1.5rem 3rem;
  border-radius: 20px;
  font-size: 21px;
  cursor: pointer;
}
.open-button:hover {
  background: #3e1763;
}

.modal_title {
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}

.modal {
  display: block;
  width: 1200px;
  max-width: 90%;
  margin-top: 3rem;
  height: 800px;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
}
@media (min-width: 600px) {
  .modal {
    max-width: 80%;
    margin-top: 0;
  }
}
.modal .close-button {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 20px;
  border: 0;
  border-radius: 20px;
  background: white;
  padding: 5px 10px;
  font-size: 1.3rem;
  cursor: pointer;
}

.closed {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.4);
}

.modal-guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 1.5rem;
  border: 0.3rem solid #290F42;
}
@media (min-width: 600px) {
  .modal-guts {
    padding: 3rem;
  }
}

form {
  text-align: left;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #290F42;
  border-radius: 20px;
  box-sizing: border-box;
}
@media (min-width: 900px) {
  input[type=text], input[type=submit] {
    width: 20%;
  }
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.mySlides {
  display: none;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

@font-face {
  font-family: "Anivers_Regular";
  src: url("https://tikvik.github.io/ostruzina/FONTS/Anivers_Regular.otf");
  unicode-range: U+0000-07FF;
  font-display: block;
}
@font-face {
  font-family: "Anivers_Regular";
  src: url("fonts/Anivers_Regular.otf");
  unicode-range: U+0000-07FF;
  font-display: block;
}
@font-face {
  font-family: "Anivers_Bold";
  src: url("https://tikvik.github.io/ostruzina/FONTS/Anivers_Bold.otf");
  unicode-range: U+0000-07FF;
  font-display: block;
}
@font-face {
  font-family: "Anivers_Bold";
  src: url("fonts/Anivers_Bold.otf");
  unicode-range: U+0000-07FF;
  font-display: block;
}
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}
@media (min-width: 600px) {
  html {
    overflow-x: hidden;
  }
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 12pt;
  font-weight: 800;
  color: #290F42;
  background-color: #F9F8E7;
  font-family: Anivers_Regular;
}
@media (min-width: 600px) {
  body {
    font-size: 2vw;
  }
}

.wrap {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1.5rem auto 80px 1fr 120px;
  grid-template-areas: "topleft" "topleft" "topright" "content" "topcenter" "bottomright";
  grid-gap: 0px;
  height: 100vh;
}
@media (min-width: 600px) {
  .wrap {
    grid-template-areas: ". . info . ." ". topleft topcenter topright ." ". leftsidebar content . ." ". bottomleft bottomcenter bottomright .";
    grid-template-rows: 1.5rem 150px 1fr 50px;
    grid-template-columns: 3rem 250px auto 250px 3rem;
    padding: 0;
  }
}
.wrap .logo {
  grid-area: topleft;
  position: relative;
  background-color: #F9F8E7;
  margin: 1.5rem;
}
@media (min-width: 600px) {
  .wrap .logo {
    background-color: transparent;
    margin: 0;
  }
}
.wrap .logo img {
  width: 100%;
  height: auto;
}
.wrap .info {
  grid-area: topcenter;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  text-transform: uppercase;
}
.wrap .filtr {
  grid-area: topright;
  justify-self: center;
  background-color: #F9F8E7;
  padding-bottom: 1rem;
  width: 90%;
  z-index: 1;
}
@media (min-width: 600px) {
  .wrap .filtr {
    background-color: transparent;
    justify-self: end;
    width: auto;
  }
}
.wrap .cancelfilter {
  grid-area: bottomleft;
}
.wrap .lang {
  grid-area: bottomright;
  text-align: right;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
}
.wrap .content {
  grid-area: content;
  overflow: none;
  padding-top: 1rem;
  text-align: center;
}
@media (min-width: 600px) {
  .wrap .content {
    overflow: auto;
    grid-column: 1/6;
    grid-row: 1/6;
    padding-top: 9rem;
  }
}
.wrap .content h1 {
  font-size: 15vw;
  font-weight: normal;
  line-height: 0.9;
  margin: 0;
  text-transform: uppercase;
}
.wrap .content h1:nth-child(1) {
  cursor: url(images/logo.svg), auto;
}
.wrap .content h1:nth-child(2) {
  cursor: url(images/logo.svg), auto;
}
.wrap .content h1:nth-child(3) {
  cursor: url(images/logo.svg), auto;
}
.wrap .content h1:last-child {
  cursor: url(images/logo.svg), auto;
  padding-bottom: 12rem;
}
.wrap .pageheader {
  grid-area: topright;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: left;
  padding-left: 3.5rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 600px) {
  .wrap .pageheader {
    grid-column: 3/5;
    grid-row: 2/3;
    text-align: right;
    display: block;
  }
}
.wrap .pagecontent {
  grid-column: 1/2;
  grid-row: 4/5;
}
@media (min-width: 600px) {
  .wrap .pagecontent {
    grid-column: 3/5;
    grid-row: 3/5;
  }
}
.wrap .pagecontent .innercontent {
  width: 90%;
  margin-left: auto;
  padding-left: 1.5rem;
  padding-right: 3rem;
}
@media (min-width: 600px) {
  .wrap .pagecontent .innercontent {
    padding-left: 3rem;
    border-left: 2px solid #290F42;
    padding-bottom: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
}
.wrap .pagecontent .innercontent a {
  text-decoration: underline;
}
.wrap .pagecontent .innercontent ul {
  margin-left: 0;
}
.wrap .pageleftsidebar {
  grid-area: leftsidebar;
  position: fixed;
  bottom: 0.75rem;
  left: 0;
  align-self: end;
}

.zrnko {
  width: 1.5rem;
  height: 1.5rem;
  transform: rotate(20deg);
}
@media (min-width: 600px) {
  .zrnko {
    width: 2.1428571429rem;
    height: 2.1428571429rem;
  }
}
.zrnko:nth-child(2) {
  transform: rotate(45deg);
}
.zrnko:last-child {
  transform: rotate(99deg);
  width: 2rem;
  height: 2rem;
}
.zrnko:hover {
  transform: rotate(-40deg);
}

.inverted {
  color: white;
  background-color: #1a0929;
  line-height: 1.5;
}
.inverted a {
  color: white;
  text-decoration: none !important;
}
.inverted path {
  fill: white;
}
.inverted .innercontent {
  border-left: 2px solid white !important;
}
.inverted .trow {
  border-top: 1px dashed white !important;
  border-bottom: 1px dashed white !important;
}

/*# sourceMappingURL=style.css.map */
